# Xcode
*.xcuserdata
*.xcscmblueprint
*.xccheckout
*.xcuserstate
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata
!*.xcodeproj/xcshareddata/WorkspaceSettings.xcsettings
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
!*.xcworkspace/xcshareddata
!*.xcworkspace/xcshareddata/WorkspaceSettings.xcsettingss

# Build
build/
DerivedData/
*.o
*.LinkFileList
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# SwiftPM
.swiftpm
.build/

# CocoaPods
Pods/
Podfile.lock
Podfile.swp
Generated.xcconfig

# Carthage
Carthage/Build/

# Accio dependency manager
Dependencies/
.accio/

# Swift Package Manager
Package.resolved
Packages/
.idea/
*.xcodeproj/project.xcworkspace/xcuserdata/

# Fastlane
fastlane/report.xml
fastlane/screenshots
fastlane/test_output

# Misc
*.orig
*.DS_Store
*.swp
*.lock
profile
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.moved-aside
*.pbxuser
*.xccheckout
*.xcuserstate
